APP_NAME=IPB Open Source Backend
DEFAULT_AREA=North Karelia
DEFAULT_TIMEFRAME=72h
AUTO_REFRESH=false
REFRESH_INTERVAL_SECONDS=1800
NLS_API_KEY=
DIGIROAD_API_KEY=
STATISTICS_FINLAND_API_KEY=
OPENCELLID_API_KEY=
